<%- include('partials/head'); -%>
   <header>
      <section>
         <h1> Hi there 👋, checkout our portfolio!</h1>
      </section>
   </header>

   <section id="home">
      <a href="/project-th">Hoa0</a>
      <a href="project-aa">AllyssaA</a>
   </section>
   <%- include('partials/footer'); -%>